<div class="container">
  <div class="col-md-3">
    <h3>Add a Place from Map</h3>    
    <app-add-place (placeAdded)="onPlaceAddition($event)"></app-add-place>
  </div>
  <div class="col-md-9">
    <h3>Saved Places</h3>
    <div class="row" style="margin-bottom: 10px">
      <div class="col-md-6 col-sm-12 col-xs-12"> <input type="text" class="form-control" name="search" (keyup)="clearSearch(searchInput)"
          #searchInput placeholder="Search by Name, Address, Type"></div>
      <div class="col-md-2 col-sm-4 col-xs-4"> <button type="button" class="btn btn-primary" (click)="search(searchInput)">Search</button></div>
      <div class="col-md-2 col-sm-4 col-xs-4"><button type="button" class="btn btn-primary" (click)="showFavouritePlaces()">Show
          Favaourites</button></div>
      <div class="col-md-2 col-sm-4 col-xs-4"><button type="button" class="btn btn-primary" (click)="showAllPlaces()">Show
          All</button></div>
    </div>
    <ag-grid-angular #agGrid style="width: 100%; height: 850px;" class="ag-theme-balham" [gridOptions]="gridOptions"
      enableColResize enableSorting enableFilter>
    </ag-grid-angular>
  </div>
</div>
